<div class="hero9-header30 thq-section-padding">
    <img alt="Pet Store Image"
        src="https://th.bing.com/th/id/R.5df2b5a0b6d20634cbcca49b5a7103a0?rik=9%2fKqv5%2biThCiuw&pid=ImgRaw&r=0"
        class="hero9-image" />
    <div class="hero9-container"></div>
    <div class="hero9-max-width thq-section-max-width">
        <div class="hero9-content">
            <h1 class="hero9-text thq-heading-1">
                <span>Welcome to our Pet Store!</span>
            </h1>
            <div class="hero9-actions">
                <button class="thq-button-outline hero9-button">
                    <span class="hero9-text1 thq-body-small">
                        <span>Những bé thú cưng đang mong chờ được về nơi ở mới!!</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="features1-layout251 thq-section-padding">
    <div class="features1-max-width thq-section-max-width">
        <div class="thq-flex-row features1-section-title">
            <div class="features1-column thq-flex-column">
                <span class="thq-body-small">
                    <span>Chúng tôi là một đại gia đình nhà thú!</span>
                </span>
                <h2 class="thq-heading-2 features1-text1">
                    <span>Thông tin các bé pet</span>
                </h2>
            </div>
        </div>
        <div class="features1-content">
            <form action="/petlist" class="features1-row thq-flex-row">
                <div class="features1-feature1 thq-flex-column">
                    <button class="petlist-btn" name="pet" value="dog">

                    </button>
                    <img alt="Wide Range of Products Image"
                        src="https://cdn.vn.alongwalk.info/wp-content/uploads/2023/03/27234050/image-222-hinh-anh-cho-ngao-hai-huoc-doc-nhat-hien-nay-2023-167991005026339.jpg"
                        class="thq-img-ratio-4-3 features1-feature1-image" />
                    <div class="features1-content1 thq-flex-column">
                        <h3 class="thq-heading-3">
                            <span>Thông tin về cún</span>
                        </h3>
                        <span class="thq-body-small">
                            <span>
                                Những chú cún tinh nghịch!
                
                            </span>
                        </span>
                    </div>
                </div>
                <div class="features1-feature2 thq-flex-column">
                    <button class="petlist-btn" name="pet" value="cat">

                    </button>
                    <img alt="Professional Grooming Services Image"
                        src="https://th.bing.com/th/id/OIP.xVQFM_OCiWkzGtrdxQA5awAAAA?rs=1&pid=ImgDetMain"
                        class="thq-img-ratio-4-3 features1-feature2-image" />
                    <div class="features1-content2 thq-flex-column">
                        <h3 class="thq-heading-3">
                            <span>Thông tin về mèo</span>
                        </h3>
                        <span class="thq-body-small">
                            <span>
                                Những bạn mèo yêu thích!
                            </span>
                        </span>
                    </div>
                </div>
                <div class="features1-feature3 thq-flex-column">
                    <button class="petlist-btn" name="pet" value="bird">

                    </button>
                    <img alt="Pet Training Classes Image"
                        src="https://th.bing.com/th/id/OIG1.ukh14BZtWvW_1jne56NQ?pid=ImgGn"
                        class="thq-img-ratio-4-3 features1-feature3-image" />
                    <div class="features1-content3 thq-flex-column">
                        <h3 class="thq-heading-3">
                            <span>Thông tin về chim</span>
                        </h3>
                        <span class="thq-body-small">
                            <span>
                                Chúng tôi là những chú chim!
                            </span>
                        </span>
                    </div>
                </div>
                <div class="features1-feature3 thq-flex-column">
                    <button class="petlist-btn" name="pet" value="rabbit">

                    </button>
                    <img alt="Pet Training Classes Image" src="https://th.bing.com/th/id/OIG1.HKHLgbsJLf0mHwBynDYr?pid=ImgGn"
                        class="thq-img-ratio-4-3 features1-feature3-image" />
                    <div class="features1-content3 thq-flex-column">
                        <h3 class="thq-heading-3">
                            <span>Thông tin về thỏ</span>
                        </h3>
                        <span class="thq-body-small">
                            <span>
                                Là thỏ, không phải thor!
                            </span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="features1-actions center">
            <button class="thq-button-filled features1-button scrool-btn">
                <span class="thq-body-small">
                    Liên hệ với chúng tôi
                </span>
            </button>
        </div>
    </div>
</div>
<div>
    <h2 style="text-align: center;">
        Giới thiệu về chúng tôi!
    </h2>
    <p style="text-align: justify; margin-left: 120px; margin-right: 120px;">
        Chào mừng bạn đến với cửa hàng thú cưng của chúng tôi! Chúng tôi tự hào mang đến cho bạn những người bạn động vật đáng yêu và khỏe mạnh nhất. Với sứ mệnh chăm sóc và yêu thương các loài vật, chúng tôi không ngừng nỗ lực để tạo ra một môi trường sống tốt nhất cho thú cưng của bạn. Tại đây, bạn sẽ tìm thấy mọi thứ bạn cần, từ thức ăn, đồ chơi, đến các dịch vụ chăm sóc sức khỏe chuyên nghiệp.
    </p>
    <p style="text-align: justify; margin-left: 120px; margin-right: 120px;">Chúng tôi luôn coi thú cưng là thành viên trong gia đình và cam kết cung cấp những sản phẩm và dịch vụ chất lượng cao nhất. Đội ngũ nhân viên nhiệt tình và giàu kinh nghiệm của chúng tôi luôn sẵn sàng hỗ trợ và tư vấn cho bạn về mọi khía cạnh của việc nuôi dưỡng và chăm sóc thú cưng.</p>
    <p style="text-align: justify; margin-left: 120px; margin-right: 120px;">Hãy đến và khám phá cửa hàng thú cưng của chúng tôi ngay hôm nay, để mang về những niềm vui và hạnh phúc cho gia đình bạn!</p>
    <img src="https://th.bing.com/th/id/OIG1.VieHAj.8FowSkcbjEU.h?pid=ImgGn" alt="Ảnh cửa hàng thú cưng" style="display: block; margin: 20px auto; width: 340px; height: auto;">
    
</div>


<div class="contact3-contact20 thq-section-padding">
    <div class="contact3-max-width thq-section-max-width">
        <div class="contact3-section-title">
            <span class="thq-body-small">
                <span><h2>Đánh giá từ khách hàng</h2></span>
            </span>
        </div>
        <div class="contact3-row">
            {{{reviews}}}
        </div>
    </div>
</div>

