<div class="petlist-container flex-style center flex-column margin-top-16">
    <div style="max-width: 1200px;">
        <div class="petlist-title flex-style center">
            <h1>{{pet}}</h1>
        </div>
        <div class="petlist-main flex-style grid-style grid-col-4">
            {{{petlist}}}
        </div>

    </div>
</div>